{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Clearout email validation & verification plugin for Craft CMS
 *
 * Reports Widget Body
 *
 * @author    Work With Tom SRL
 * @copyright Copyright (c) 2022 Work With Tom SRL
 * @link      https://www.workwithtom.ro
 * @package   ClearoutEmail
 * @since     1.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@workwithtom/clearoutemail/assetbundles/reportswidget/dist', true) ~ '/img/Reports-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
